
/* Notes: */
  /* Pesticide for website borders */
  /* ============================= TAG Selectors ============================== */

body{
  background-color: #151515;
   }
  p{
    color: #726A95;
    /* color: #52057B; */
  }
  /* img:hover{
    image-color: blue;
  } */
  h1,h3{
    color: #E6F5FF;
    /* margin-left: 10%; */
    /* color: #BC6FF1; */
  }
  h4{
    color: #8B9A46;
  }
  ul{
    color: #B4A5A5;
  }
  td{
    color: #B4A5A5;
    /* color: #8B9A46; */
  }
  th{
    color: #8B9A46;
  }

  hr{
    /* background-color: grey; */
    border-top: none;
    border-bottom: 3px dotted grey;
    /* width: 20%; */
  }


/* ============================= ID Selectors ============================== */

#headingMain {
  font-style: italic;
  /* background-color: grey; */
}
